*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: white;
    color: rgb(80, 79, 79);
    line-height: 1.6;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4e9af1;
    color: white;
    padding: 19px;
    position: relative;
}

.hamburger{
    display: none;
    font-size: 20px;
    cursor: pointer;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

nav a{
    color: white;
    margin-left: 15px;
    font-weight: 500;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}
.hero{
    text-align: center;
    padding: 50px;
    background: linear-gradient(to right, #c9eaff, #ffffff);
}
.hero h1{
    font-size: 40px;
    margin-bottom: 15px;
}
.hero p{
        font-size: 20px;
    margin-bottom: 28px;
}
.btn{
    background: rgb(83, 181, 219);
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    border-radius: 6px
}
.btn :hover{
    background: #3074c1;
}